@model TrashCollector.Models.Customer
@using TrashCollector.Secret

@{
    ViewData["Title"] = "SingleMapDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<h1>Map</h1>

<div>
    <h4>Map</h4>
    <hr />

    <iframe width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src='@String.Format("https://www.google.com/maps/embed/v1/place?key={0}&q={1},+{2},+{3},+{4},+{5},+", API_Key.Key, Model.AddressLine1, Model.AddressLine2
                    , Model.City, Model.State, Model.ZipCode)'>
    </iframe>

    @*<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <style type="text/css">
            /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
            #map {
                height: 100%;
            }

            /* Optional: Makes the sample page fill the window. */
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>*@


    @*<script>
            // JAVASCRIPT GOES HERE
            // code that generates the map with the customer's address pinned and selects an element in your HTML body to render
            // The map needs latitutde and longitude coordinates
            let map;

            function initMap() {
                map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 8,
                });
            }
        </script>*@


    <!--<div id="map"></div>-->
    @*Async script executes immediately and must be after any DOM elements used in callback.*@
    <!--<script aync src='@String.Format("https://maps.googleapis.com/maps/api/js?key={0}&callback=initMap&libraries=&v=weekly", API_Key.Key)'></script>-->
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>



<!--<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 100%;
         }

         /* Optional: Makes the sample page fill the window. */
         html,
         body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
    <script>
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: {
                    lat: -34.397, lng: 150.644},
                zoom: 8,
            });
        }
    </script>
</head>
<body>
    <div id="map"></div>-->

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <!--<script src='@String.Format("https://maps.googleapis.com/maps/api/js?key={0}&callback=initMap&libraries=&v=weekly", API_Key.Key)' async></script>
</body>
</html>-->

